*.c
*.clf
*.pdb
*.log
*.suo
*.pdb
*.rej
*.orig
*.patch
*.Cache
*.playlist
*.user
*.tmp_proj
*.live.config
*.nupkg
*.tss
*.csv
sorted_prepared.csv
.ipynb_checkpoints
proto/classifier/.idea/
**/packages/*
**/.vs/*
**/.pytest_cache/*

[dD]ebug
[rR]elease
[cC]heckin
[bB]in
_ReSharper*
ReSharper*
obj
log
logs
.idea
node_modules
__pycache__

proto/keras-classifier/sorted_prepared.csv
/.vs
src/Tomita/output/
*.pubxml
/src/Utils/AttributeHighlighter/packages
/src/Classifier/src/Classifier/wwwroot/.vscode/settings.json
/src/SmartService/.vs/SmartService/v15
/src/Utils/TextLayerExtractor/.vs/TextLayerExtractor/v15
/src/TextExtractorService/TextExtractorService/tmp
/src/TextExtractorService/packages
/src/Utils/FuzzySearch/Test
/src/FactExtractorServices/Rules/logs
/src/FactExtractorServices/Base/logs
/src/FactExtractorService/logs
/src/FactParser/.vscode/settings.json
.vs
/proto/NeuralNetwork_NER/ner/model
/proto/NeuralNetwork_NER/ner/models
/proto/NeuralNetwork_NER/ner/datasets
/proto/NeuralNetwork_NER/datasets
datasets/
/src/utils/ariorules-editor/*.vsix
/src/utils/ariorules-editor/builds/*.vsix
src/TextExtractorService/TextExtractorService/ConversionLog.xml
.DS_Store
lib/ArioStyleCop/StyleCopViolations.xml
src/FactParser/**/*.bin
src/FactExtractorServices/**/*.bin
src/FactExtractorService/**/*.bin
/src/Installer/1
src/ObjectDetectionService/pred.png
src/MaskRCNN/test_data/dataset/*.jpg
src/MaskRCNN/test_data/dataset/*.jpeg
src/MaskRCNN/test_data/dataset/Thumbs.db
_FactPos*
src/ClassifierService/htmlcov
src/FactExtractorServices/Base/htmlcov
src/FactExtractorServices/Rules/htmlcov
src/ImageClassifierService/htmlcov
src/ObjectDetectionService/htmlcov
*.coverage
src/FactExtractorServices/Learn/htmlcov
src/FactExtractorServices/Rules/**/config.interactive.proto

src/Docker/images
src/Docker/etc/elastic-apm
src/Docker/etc/smart-service/license
src/Docker/etc/postgresql
src/Docker/etc/influxdb
src/Docker/etc/portainer
src/Docker/ario-portainer.yml
src/Docker/ario-services.yml
src/Docker/etc/factextractor-base-service
src/Docker/etc/factextractor-learn-service
src/Docker/etc/factextractor-rules-service
src/Docker/etc/textclassifier-service
